@import url('imports/reset.css');
@import url('imports/fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

@font-face {
  font-family: title;
  src: url('imports/webfonts/KGSecondChancesSketch.ttf');
}

* {
  box-sizing: border-box;
}
.drop-shadow{
  box-shadow: 0 1px 0 0 rgba(0,0,0,.5);
}

.bold{
  font-weight: bold;
}
.flex-row2{
  display: flex;
  align-items: flex-start;
}
.flex-row3{
  display: flex;
  align-items: flex-start;
}
.align-center{
  align-items: center;
}
.flex-row2 > .col-1,
.flex-row2 > .col-2,
.flex-row3 > .col-1,
.flex-row3 > .col-2,
.flex-row3 > .col-3{
  list-style: none;
}
.flex-row3 > *{
  flex: 1;
}
.flex-row2 > .col-1{
  padding-right: 50px;
  width: 66.666%;
}
.flex-row2 > .col-2{
  width: 33.333%;
}
.flex-row3 > .col-2{
  margin: 0 20px;
}
.flex-row2 > .col-2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 2.5px;
}
.flex-row2 .even-width{
  width: 50%;
}
/* Header */
.main-container{
  max-width: 100%;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
}
.main-header{
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 75px;
  background-color: #46576f;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 0 45px;
}
.main-header > .main-logo img{
  display: block;
  width: auto;
  height: 75px;
  padding: 10px;
}
.main-header > .main-nav-toggle{
  display: flex;
  align-items: center;
}
.main-header > .main-nav-toggle .menu-text{
  font-size: 25px !important;
  color: #fff;
  text-transform: uppercase;
}
.main-header > .main-nav-toggle .menu-icon{
  margin-left: 10px;
  font-size: 33px;
  color: #fff;
}
.main-header > .main-nav-toggle,
.nav-close{
  outline: none;
  font-size: 33px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  min-width: 75px;
  height: 75px;
  padding: 0;
}
/* Nav */
.main-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(70,87,111,.9);
  transform: translateY(-100%);
  transition: .5s ease;
}
.nav-main-structure{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  text-align: center;
  height: calc(100vh - 75px);
}
.nav-main-structure ul{
  margin-bottom: 50px;
}
.nav-main-structure > li{
  width: calc(100% / 2);
}
.nav-main-structure li > a:hover{
  text-decoration: underline;
}
.nav-main-structure li > a,
.nav-main-structure li > span{
  color: #98dc56;
  font-size: 40px;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 25px;
  font-family: title;
  text-decoration: none;
}
.nav-main-structure li > a{
  color: #ffffff;
}
.nav-sub-structure{
  line-height: 30px;
}
.nav-sub-structure li a{
  font-size: 17.5px;
  font-weight: normal;
  margin-bottom: 0;
  letter-spacing: normal;
  font-family: 'Titillium Web', sans-serif;
}
.nav-header{
  max-width: 100%;
  height: 75px;
  margin: 0 auto;
}
.nav-close{
  margin-left: auto;
  margin-right: 22px;
  color: #fff;
  display: block;
}
.nav-active{
  text-decoration: underline !important;
  pointer-events: none;
}
.res-chevron-toggle{
  margin-left: 25px;
  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: center;
  transition: .25s ease;
}
.res-chevron-toggle::after{
  content: 'v';
}
/* Content */
.the-content{
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}
.sfo-aabningstider{
  list-style: none;
  margin: 20px 0;
}
.sfo-aabningstider li{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

/* Pilen man trykker på for at komme til top */
.arrow-up {
position: fixed;
z-index: 99; /* ingen overlapning */
border: none;
bottom: 75%;
right: 25px;
cursor: pointer; /* Når man holder musen over pilen kommer der en anden mus der indikerer den kan trykkes på */
padding: 10px;
border-radius: 50%;
background-color: #98dc56;
font-size: 40px;
color: white;
outline: none;
}



.the-content h1,
.the-content .title{
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: #98dc56;
  margin-bottom: 25px;
}
.the-content p,
.ansatte-list .list-container .list-info p{
  margin-bottom: 25px;
  line-height: 25px;
}
.the-content .content-btn,
.footer-col-intranet p > a{
  background-color: #88b337;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 7.5px;
  transition: .1s ease;
  border: 1px solid transparent;
  display: inline-block;
}
.the-content .content-btn:hover,
.footer-col-intranet p > a:hover{
  background-color: #fff;
  color: #88b337;
  border: 1px solid #88b337;
}

/* - Forside - */
.mainpage-hero{
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
  overflow: hidden;
}
.mainpage-hero img,
.mainpage-hero video,
.subpage-hero img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hero-container{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-container > .hero-title,
.hero-container > .hero-slogan{
  color: #fff;
}
.hero-container > .hero-title{
  font-family: title;
  font-size: 66.666px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 2.5px 2.5px rgba(0,0,0,.95);
}
.scroll-down-ui{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 50px;
  text-shadow: 5px 5px rgba(0,0,0,.9);
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes float{
  0% {
    bottom: 50px;
  } 50% {
    bottom: 35px;
  } 100% {
    bottom: 50px;
  }
}
.mainpage-hero > .hero-container > .hero-slogan{
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 33.333px;
  text-shadow: 2.5px 2.5px rgba(0,0,0,.5);
}
.forside-col div img{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-top: 20px;
}
.forside-col div .title{
  text-align: center;
}
.forside-col .multiple-btns{
  display: flex;
  flex-direction: column;
}
.forside-col a{
  display: block;
  margin-bottom: 20px;
  color: #98dc56;
}
.home-background-green{
  background-color: rgba(0,0,0,.05);
  padding: 10px 0;
}
.home-background-green .col-2 img{
  width: 250px;
  display: block;
  margin: 0 auto;
}
.home-background-green .block-qoute{
  font-style: italic;
  padding: 0 50px;
  line-height: 25px;
  position: relative;
}
.home-background-green .block-qoute::before,
.home-background-green .block-qoute::after{
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.home-background-green .block-qoute::before{
  content: '';
  top: 0;
  left: 0;
  background-image: url('../img/gfx/quotation-start.svg');
}
.home-background-green .block-qoute::after{
  content: '';
  right: 0;
  bottom: 0;
  background-image: url('../img/gfx/quotation-end.svg');
}
.home-background-green .block-quote-cite{
  display: block;
  text-align: right;
  margin-top: 30px;
  padding: 0 50px;
}
.forside-gallery{
  display: flex;
  list-style: none;
  margin: 20px 0;
}
.forside-gallery li{
  flex: 1;
  margin: 0 15px;
}
.forside-gallery li:first-child{
  margin-left: 0;
}
.forside-gallery li:last-child{
  margin-right: 0;
}
.forside-gallery li img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}
/* - Ansatte - */
.ansatte-list{
  list-style: none;
}
.ansatte-list li{
  width: 100%;
}
.ansatte-list li:nth-child(odd){
  background-color: rgba(0,0,0,0.05);
}
.ansatte-list .list-container{
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.ansatte-list .list-container .list-image{
  width: 25%;
}
.ansatte-list .list-container .list-image img{
  border-radius: 100%;
}
.ansatte-list .list-container .title{
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  font-size: 25px;
  margin-bottom: 20px;
}
.ansatte-list .list-container .list-info{
  width: 75%;
  font-family: 'Titillium Web', sans-serif;
}
/* H2 */
h2 {
font-size: 30px;
margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}


/* Hero (stort billede) til underside */
.subpage-hero{
  height: calc(66.666vh - 75px);
  position: relative;
}
.subpage-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* Praktisk info - side */


/* størrelsen på textarea i beskedformularen */
.textareaformular {
  height:200px;
}

/* kontaktformular kassen */
.contactformular {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    width: 700px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Runde hjørner */
    margin-top: 6px;
    margin-bottom: 16px;
    outline-color: #46576f;
}

/* Send knappen */
input[type=submit] {
    background-color: #88b337;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Når man holder musen over send-knappen vil musen ændre sig, så det indikerer kanppen kan trykkes på */
}

/* Hover til send knappen */
input[type=submit]:hover {
    background-color: #507f12;
}

.kontaktoplysninger {
  margin-left: 100px;
  margin-top: 20px;
}

.formularogkontakt {
  display: flex;
}

.ul-class {
  list-style: none;
}

.li-class {
  margin-bottom: 20px;

}

/*Værdigrundlag*/

.vaerdigrundlag {
  margin-left: 50px;
  margin-bottom: 20px;
  list-style-type: circle;
  line-height: 30px;
}

.no-background{
  background-color: transparent;
}

/* - Footer - */
.main-footer{
  width: 100%;
  background-color: #46576f;
}
.main-footer-content{
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-footer-content > div{
  flex: 1;
  padding: 20px;
}
.footer-col-intranet{
  margin: 0 20px;
}
.main-footer-content .footer-title{
  font-family: title;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.main-footer-content ul{
  list-style: none;
}
.footer-col-adress a:hover,
.footer-col-social a:hover{
  text-decoration: underline;
}
.footer-col-adress ul,
.footer-col-intranet p,
.footer-col-social a{
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}
.footer-col-adress li{
  margin-bottom: 10px;
}
.footer-col-adress li address,
.footer-col-adress li a{
  display: block;
  font-style: normal;
}
.footer-col-adress a{
  text-decoration: none;
  color: inherit;
}
.footer-col-intranet p{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-col-intranet p > a{
  padding: 10px;
}
.footer-col-social a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer-col-social img{
  border: 1px solid #fff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 10px;
}
.main-footer-credentials{
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  background-color: rgba(0,0,0,.33);
}
.main-footer-credentials > p{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.ugebrev-search{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.ugebrev-search .pagenation{
  display: flex;
  align-items: center;
}
.search-filter{
  width: 25%;
  margin: 0 20px;
}
.pagenation div{
  margin: 0 10px;
}
.pagenation button{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #88b337;
  border: 0;
  color: #fff;
  cursor: pointer;
}


/* Ugebrev */

.ul-class-ugebrev{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.ul-class-ugebrev li{
  width: calc(100% / 3);
  margin: 0 10px;
  height: 400px;
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1), -3px -3px 3px 0 rgba(0,0,0,.1);
}
.ul-class-ugebrev li figure,
.ul-class-ugebrev li div{
  cursor: pointer;
}
.ul-class-ugebrev li:first-child{
  margin-left: 0;
}
.ul-class-ugebrev li:last-child{
  margin-right: 0;
}
.ul-class-ugebrev .news-content{
  padding: 10px;
}
.ul-class-ugebrev .news-content .title{
  margin-bottom: 15px;
}
.ul-class-ugebrev .news-content .title span{
  display: block;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  font-weight: normal;
}
.ul-class-ugebrev .news-content time{
  color: #ccc;
}
.ul-class-ugebrev img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ul-class-ugebrev figure{
  width: 100%;
  height: 66.666%;
  overflow: hidden;
}

/* Responsive */
@media screen and (max-width: 760px) {
  /* Header */
  .main-header{
    padding: 0 10px;
  }
  .main-header > .main-nav-toggle .menu-text{
    display: none;
  }
  .nav-header{
    min-width: 294px;
  }
  .nav-close{
    margin-right: 23px;
  }
  /* - Navigation - */
  .nav-main-structure{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav-main-structure > li{
    display: block;
    width: 100%;
  }
  .nav-sub-title{
    display: flex !important;
    justify-content: center;
    font-size: 25px !important;
    line-height: 30px;
  }
  .nav-sub-structure{
    display: none;
    text-align: left;
    margin-bottom: 25px !important;
    width: auto;
    margin: 0 auto;
  }
  /* - Hero - */
  .hero-container .hero-title{
    font-size: 30px;
    text-align: center;
    text-shadow: 2.5px 2.5px #000;
  }
  .hero-container .hero-slogan{
    font-size: 20px !important;
    text-align: center;
    text-shadow: 1px 1px #000;
  }
  /* - Forside - */
  .forside-flex-row{
    flex-direction: column;
  }
  .forside-col{
    border-bottom: 1px solid #ccc;
  }
  .forside-col:last-child{
    border-bottom: 0;
  }
  .home-background-green .flex-row2{
    flex-direction: column;
  }
  .home-background-green .flex-row2 .col-1{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .home-background-green .flex-row2 .block-qoute{
    padding: 0;
    margin: 0 auto;
    width: 66.666%;
  }
  .home-background-green .flex-row2 .block-qoute::before{
    transform: translateX(-50px);
  }
  .home-background-green .flex-row2 .block-qoute::after{
    transform: translateX(50px);
  }
  .home-background-green .flex-row2 .block-quote-cite{
    padding: 0;
    text-align: center;
  }
  .home-background-green .flex-row2 .col-2{
    width: 100%;
  }
  .home-background-green .col-2 img{
    width: inherit;
    max-width: 250px;
    height: auto;
  }
  .forside-gallery{
    flex-direction: column;
  }
  .forside-gallery li{
    margin: 0;
    margin-bottom: 30px;
  }
  .forside-gallery li:last-child{
    margin-bottom: 0;
  }
  /* - Ansatte - */
  .ansatte-list .list-container{
    flex-direction: column;
  }
  .ansatte-list .list-container .list-image{
    width: 100%;
    margin-bottom: 25px;
  }
  .ansatte-list .list-container .list-info{
    width: 100%;
  }
  .ansatte-list .list-container .list-info .title{
    word-wrap:break-word;
  }
  .ansatte-list .list-container .list-image img{
    display: block;
    margin: auto;
  }
  /* - Footer - */
  .main-footer-content{
    flex-direction: column;
  }
  .footer-col-intranet{
    margin: 0;
  }
}
