@import url('imports/reset.css');
@import url('imports/fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,900');

@font-face {
  font-family: title;
  src: url('imports/webfonts/KGSecondChancesSketch.ttf');
}

* {
  box-sizing: border-box;
}
.drop-shadow{
  box-shadow: 0 1px 0 0 rgba(0,0,0,.5);
}

/* Header */
.main-container{
  max-width: 100%;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
}
.main-header{
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 75px;
  background-color: #46576f;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.main-header > .main-logo img{
  display: block;
  width: auto;
  height: 75px;
  padding: 10px;
}
.main-header > .main-nav-toggle{
  color: #fff;
}
.main-header > .main-nav-toggle,
.nav-close{
  outline: none;
  font-size: 33px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 75px;
  height: 75px;
}
/* Nav */
.main-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(70,87,111,.9);
  transform: translateY(-100%);
  transition: .5s ease;
}
.nav-main-structure{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  text-align: center;
  height: calc(100vh - 75px);
}
.nav-main-structure ul{
  margin-bottom: 50px;
}
.nav-main-structure > li{
  width: calc(100% / 2);
}
.nav-main-structure li > a:hover{
  text-decoration: underline;
}
.nav-main-structure li > a,
.nav-main-structure li > span{
  color: #98dc56;
  font-size: 40px;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 25px;
  font-family: title;
  text-decoration: none;
}
.nav-main-structure li > a{
  color: #ffffff;
}
.nav-sub-structure{
  line-height: 30px;
}
.nav-sub-structure li a{
  font-size: 17.5px;
  font-weight: normal;
  margin-bottom: 0;
  letter-spacing: normal;
  font-family: 'Titillium Web', sans-serif;
}
.nav-header{
  max-width: 100%;
  height: 75px;
  margin: 0 auto;
}
.nav-close{
  margin-left: auto;
  color: #fff;
  display: block;
}
.nav-active{
  text-decoration: underline !important;
  pointer-events: none;
}
.res-chevron-toggle{
  margin-left: 25px;
  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: center;
  transition: .25s ease;
}
.res-chevron-toggle::after{
  content: 'v';
}
/* Content */
.the-content{
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;

}

.arrow-up {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */

z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */

color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */

}



.the-content h1,
.the-content .title{
  font-size: 30px;
  font-family: title;
  font-weight: normal;
  color: #98dc56;
  margin-bottom: 25px;
}
.the-content p{
  margin-bottom: 25px;
}
.the-content .content-btn{
  background-color: #88b337;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 7.5px;
  transition: .1s ease;
  border: 1px solid transparent;
}
.the-content .content-btn:hover{
  background-color: #fff;
  color: #88b337;
  border: 1px solid #88b337;
}
/* Responsive */
@media screen and (max-width: 760px) {
  .nav-main-structure{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav-main-structure > li{
    display: block;
    width: 100%;
  }
  .nav-sub-title{
    display: flex !important;
    justify-content: center;
    font-size: 25px !important;
    line-height: 30px;
  }
  .nav-sub-structure{
    display: none;
    text-align: left;
    margin-bottom: 25px !important;
    width: auto;
    margin: 0 auto;
  }
}

/* - Forside - */
.mainpage-hero{
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
}
.mainpage-hero img,
.subpage-hero img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hero-container{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-container > .hero-title,
.hero-container > .hero-slogan{
  text-shadow: 5px 5px #000;
  color: #fff;
}
.hero-container > .hero-title{
  font-family: title;
  font-size: 66.666px;
  font-weight: normal;
  margin-bottom: 25px;
}
.mainpage-hero > .hero-container > .hero-slogan{
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 33.333px;
}
/* H1 */
 .the-content .title {
  font-size: 50px;
  font-family: title;
  text-align: center;
  margin-bottom: 20px;
}

/* H2 */
h2 {
font-size: 30px;
margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}


/* Hero (stort billede) til underside */
.subpage-hero{
  height: calc(66.666vh - 75px);
  position: relative;
}
.subpage-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Praktisk info - side */

/* kontaktformular kassen */
.contactformular {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    width: 700px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Runde hjørner */
    margin-top: 6px;
    margin-bottom: 16px;
    outline-color: #46576f;
}

/* Send knappen */
input[type=submit] {
    background-color: #88b337;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Når man holder musen over send-knappen vil musen ændre sig, så det indikerer kanppen kan trykkes på */
}

/* Hover til send knappen */
input[type=submit]:hover {
    background-color: #507f12;
}

.kontaktoplysninger {
  margin-left: 100px;
  margin-top: 20px;
}

.formularogkontakt {
  display: flex;
}

.ul-class {
  list-style: none;
}

.li-class {
  margin-bottom: 20px;

}

/*Værdigrundlag*/

.vaerdigrundlag {
list-style-type: circle ;

}
